/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

/* COMMON */

.col{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

img{
    width: 100%;
}

/* span and general */
.text-blue{
    color: #0061ff;
    text-decoration: underline;
    text-decoration-color: #0061ff;
}

.bold{
    font-weight: bold;
}

.span-color-gray{
    color: gray;
    margin-bottom: 50px;
}
.span-space{
    margin: 20px 0;
}

.size-title{
    font-size: 20px;
    margin: 20px 0;
}

.line-gray{
    border-bottom: 1px solid lightgray;
    height: 20px;
    width: 10%;
}

.inline-block-div{
    display: inline-block;
}


/* container */
.container{
    width: 85%;
    margin: auto;
}

.container-small{
    width: 70%;
    margin: auto;
}

/* buttons */
.btn{
    display: inline-block;
    line-height: normal;
    text-decoration: none;
}

.btn-small{
    padding: 10px 20px;
}

.btn-big{
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.btn-blue{
    background-color: #0061ff;
    color: white;
}

.btn-blue:hover{
    filter: opacity(0.7);
}

/* border */
.border{
    border: 1px solid lightgray;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px; 
    width: 100%; 
    background-color: white;
}
.header-total{
    height: 100%;
    line-height: 100px;
}

header li{
    display: inline-block;
    padding: 0 20px;
}

.border-bottom:hover{
    border-bottom: 3px solid black;
}

header a{
    color: black;
    text-decoration: none;
}

header img{
    vertical-align: middle;
}

.header-right{
    float: right;
}

/* MAIN */
/* background-blue */
.background-blue{
    padding-top: 200px; 
    background-color: #b4d0e7;
}

.main-container{
    margin-top: 40px;
}

.main-col-sx{
    margin-top: 80px;
    padding-right: 100px;
    width: 40%;
}

.main-col-dx{
    width: 60%;
    position: relative;
    top: 70px;
}

h1{
    font-size: 80px;
}

.background-blue a{
    margin: 30px 0 10px 0;
}

.background-blue span{
    display: block;
}

.background-blue i{
    margin-top: 60px;
    display: block;
    font-size: 50px;
}

/* container-small */
.plan-professional{
    width: calc( (100% / 3) - 60px);
}

.plan-professional-central{
    margin: 0 90px;
}


.plan-section{
    padding-top: 150px;
}

.plan-section h2{
    font-size: 40px;
    margin: 40px 0;
}

.round{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
}

.round:hover{
    cursor: pointer;
}

.tipo-fatturazione{
    margin: 40px 0;
}

.tipo-fatturazione span{
    margin-right: 20px;
}

.tipo-fatturazione div{
    line-height: 20px;
}

.round-blue{
    border: 5px solid #0061ff;
}

.round-white{
    border: 1px solid lightgray;
}

.plan-professional-top{
    padding: 10px 0;
    text-align: center;
}

.plan-professional-bottom{
    padding: 35px 25px;
}

.plan-professional-bottom h3, .padding-enterprice h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.plan-professional-bottom span, .padding-enterprice span{
    display: block;
}

.plan-professional-bottom a{
    margin: 30px 0 20px 0;
}

.plan-professional-bottom li i{
    color: #0061ff;
}

.plan-professional-bottom ul{
    list-style-type: none;
}

.plan-professional-bottom li{
    margin-bottom: 30px;
}

.plan-professional-bottom-bottom{
    width: 100%;
    margin-top: 50px;
}

.plan-professional-bottom p, .padding-enterprice p{
    margin-top: 35px;
}

.enterprise-sx{
    width: 70%;
}

.enterprise-dx{
    width: 30%;
}

.padding-enterprice{
    padding: 35px 25px;
}

